{% extends "layout.html" %}
{% block content %}
    <p>
        Este e um trabalho para a Seleção Bolsista - Projeto SPI - 2019, criado
        por Matheus Xavier Sampaio.
    </p>
    <p>
        O trabalho consiste de criar uma aplicação Web para que dadas como
        entrada 14 características, computar e exiba o preço de uma casa com base em um modelo preditivo criado a
        partir de um algoritmo de regressão. O modelo deve ser treinado usando os dados obtidos no seguinte
        <a href="https://www.google.com/url?q=https://www.dropbox.com/s/mmzs3jdoxzwsdnz/housing.data?dl%3D0&sa=D&ust=1549889203221000"
            title="redireciona a pagina com o dataset utilizado">link</a>.
        Refere-se a valores habitacionais nos bairros de Boston.
        Deve-se usar 80% do dataset para treino e 20% para teste. Você deve comparar algoritmos de regressão e usar
        a métrica RMSE para justificar a escolha do algoritmo de regressão usado na aplicação Web. Essa comparação
        deve ser exibida através de um gráfico na aplicação Web.
    </p>
{% endblock %}
